::ng-deep .mat-snack-bar-container.snackbar-success {
  background-color: #4caf50 !important;
  color: #fff !important;
}

::ng-deep .mat-snack-bar-container.snackbar-error {
  background-color: #f44336 !important;
  color: #fff !important;
}

::ng-deep .mat-snack-bar-container.snackbar-info {
  background-color: #2196f3 !important;
  color: #fff !important;
}

::ng-deep .mat-snack-bar-container.snackbar-warning {
  background-color: #ff9800 !important;
  color: #fff !important;
}

//cursor pointer
.pointer-cursor {
  cursor: pointer;
}

.mat-mdc-form-field-error {
  display: flex !important;
  align-items: center ;
}