/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles.scss */
// ::ng-deep .mat-snack-bar-container.snackbar-success {
//   background-color: #4caf50 !important;
//   color: #ffffff !important;
// }

// ::ng-deep .mat-snack-bar-container.snackbar-error {
//   background-color: #f44336 !important;
//   color: #ffffff !important;
// }

// ::ng-deep .mat-snack-bar-container.snackbar-info {
//   background-color: #2196f3 !important;
//   color: #ffffff !important;
// }

// ::ng-deep .mat-snack-bar-container.snackbar-warning {
//   background-color: #ff9800 !important;
//   color: #ffffff !important;
// }
// .snackbar-success {
//   background-color: #4caf50;
//   color: #fff;
// }

// .snackbar-error {
//   background-color: #f44336;
//   color: #fff;
// }

// .snackbar-info {
//   background-color: #2196f3;
//   color: #fff;
// }

// .snackbar-warning {
//   background-color: #ff9800;
//   color: #fff;
// }

.mat-mdc-snack-bar-container {
  &.snackbar-success {
    --mdc-snackbar-container-color: #5cb85c;
  }

  &.snackbar-error {
    --mdc-snackbar-container-color: #d9534f;
  }

  &.snackbar-info {
    --mdc-snackbar-container-color: #5bc0de;
  }

  &.snackbar-warning {
    --mdc-snackbar-container-color: #f0ad4e;
  }
  .mdc-button__label {
    color: white;
  }
}
